@import "tailwindcss";

:root {
  --radius: 0.5rem;
  --background: oklch(100% 0 0);
  --foreground: oklch(20.46% 0 0);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(20.46% 0 0);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(20.46% 0 0);
  --primary: oklch(59.6% 0.1274 163.23);
  --primary-foreground: oklch(98.51% 0 0);
  --secondary: oklch(92.19% 0 0);
  --secondary-foreground: oklch(20.46% 0 0);
  --muted: oklch(92.19% 0 0);
  --muted-foreground: oklch(55.55% 0 0);
  --accent: oklch(92.19% 0 0);
  --accent-foreground: oklch(20.46% 0 0);
  --destructive: oklch(63.68% 0.2078 25.33);
  --destructive-foreground: oklch(98.51% 0 0);
  --border: oklch(71.55% 0 0);
  --input: oklch(71.55% 0 0);
  --ring: oklch(50.81% 0.1049 165.61);
  --font-sans:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}

* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
